/*.item__el {*/
  /*list-style: none;*/
  /*margin: 10px 0;*/
/*}*/

/*.item__img {*/
  /*margin-right: 10px;*/
/*}*/

/*.item {*/
  /*display: flex;*/
  /*align-items: center;*/
/*}*/

body {
  color: #3e77aa;
  line-height: 1;
  font-size: 13px;
}

.item {
  width: 250px;
  padding: 10px;
  margin: 50px;
  border: 1px solid #eaeaea;
}

.btn {
  border: none;
  background-color: #4BBE3F;
  color: #fff;
  margin: 5px 0;
  padding: 5px 10px;
  cursor: pointer;
}

.btn.is-white {
  width: 125px;
  background-color: #eee;
  color: #3e77aa;
}

.btn:focus {
  outline: none;
}

.orange {
  color: #fe6600;}

.black {
  color: #000;
}

